data/raw/*
data/interim/*
data/processed/*
models/*
reports/figures/*
reports/sample_outputs/*

!data/raw/.gitkeep
!data/interim/.gitkeep
!data/processed/.gitkeep
!models/.gitkeep
!reports/figures/.gitkeep
!reports/sample_outputs/.gitkeep

.env
__pycache__/
.ipynb_checkpoints/
.DS_Store
*.pyc
.venv/
venv/

